/* Feedback */

#feedBack a {
    display: block;
    position: fixed;
    top: 200px;
    right: -2px;
    background: #323A45;
    padding: 0px 0px 0px 0px;
    z-index: 11000;
    border: 2px solid #999;
    background-image: url("http://ca.gov/images/feedback/feedback.png");
}

#feedBack a:hover {
    background: #FDB81E;
    cursor: pointer;
    background-image: url("http://ca.gov/images/feedback/feedback_hover.png");
}

#feedBack img {
    width: 25px;
    height: 75px;
}

a.visitedLink:visited{color: #4c2c92  ;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 50000000;

}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #32373C;
    margin: auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 75%; 
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
    padding: 0px 10px 0px 10px;
    margin: -10px 0px 0px 0px;
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: #999999;

}

.modal-close:hover,
.modal-close:focus {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    background-color: #660000;
}

.modal-header {
    padding: 10px 0px 0px 0px;
    background-color: #32373C;
}

.modal-header-text {
    padding: 0px 0px 0px 10px;
    margin: -10px 0px 0px 0px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

.modal-body {margin-top: 0px;}

