
/* FORM-EDIT-ADD.CSS FILE */
@import "_variables";

.cm-check-boxes label {
    display: inline-block;
    padding: 10px;
    white-space: nowrap;
}

.cm-check-boxes input {
    vertical-align: middle;
}

.cm-check-boxes label span {
    vertical-align: middle;
}

.cm-check-boxes .cm-filter-highlight {
    background-color: lightgray;
}

.cm-check-boxes label span {
  vertical-align: middle;
}

input[type=text], textarea {
    border: 2px solid $input-border;
    border-radius: 7px;
}

input[type=text]:focus, textarea:focus { 
    outline: none;
    border-color: $input-border-focus;
    box-shadow: 0 0 10px $input-border-focus;
}

.search-choice {
	width: 228px;
}

.kn-input textarea {
	height: 120px;
	width: 100%;
}

.kn-form-group .kn-form-col {
	width: 30%;
}

.search-field input {
    width: 200px !important;
}

h2 .fa.fa-handshake-o {
	margin-right: 0.4em;
}

.kn-input {
	margin-bottom: 8px !important;
}

#field_38 {
    margin-bottom: 0px !important;
}

.yc-instructions {
	padding-left: 10px;
	font-style: italic;
}

.kn-form-group .kn-form-col {
    width: 100%;
}

.kn-content .kn-form li.kn-form-col-2 {
	margin-left: 0px;
}

@media only screen and (min-width: 992px) {

    .kn-form-group .kn-form-col {
        width: 30%;
    }

    .kn-content .kn-form li.kn-form-col-2 {
        margin-left: 25px;
    }

}

.yc-add-listing-form,
.yc-add-buyer-form {
    border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 20px;
    background-color: #ffffff;
}

.yc-buyer-add-page-title {
	color: #fff !important;
}

.yc-listing-add-title-section {
    background-color: #ffc61e;
    padding: 10px 0;
}

.yc-buyer-add-title-section {
    background-color: #2d7dd2;
    padding: 10px 0;
}

.kn-view input[type="submit"] {
	color: #000 !important;
    background-color: #e9ebef !important;
    border-color: #171d40 !important;
}

.kn-view input[type="submit"]:hover {
    color: #fff !important;
	background-color: #171d40 !important;
	border-color: #204d74 !important;
}

.kn-form .input-error {
	background-color: #009FFD;
}

.kn-message.error {
	background-color: #009FFD;
	border-color: #009FFD;
	color: #fff;
}

.kn-input input[type="email"], .kn-input input[type="password"], .kn-input input[type="text"], .kn-input input[type="url"], .kn-input select, .kn-input textarea, .kn-map-search input[name="map_origin"], .kn-map-search select, .kn-search-filter input[type="text"], .kn-search-filter select {
	background-color: #f2f2f2;
}

.chzn-container .chzn-drop {
	background: #f2f2f2;
}

.chzn-container-single .chzn-single,
.chzn-container-multi .chzn-choices {
	background-color: #f2f2f2;
	background-image: linear-gradient(to bottom,#f2f2f2 0,#f2f2f2 50%);
}