.yc-listing-detail-title-section
{
    background-color: #ffc61e;
    padding: 10px 0;
}

.yc-listing-detail-title h3,
.yc-buyers-detail-title h3 {
	padding-top: 10px;
}

.yc-buyers-detail-title h3 {
    color: #ffffff !important;
}

.yc-listing-detail-info-section {
    background-color: #ffffff;
}

.yc-listing-detail-info-hidden {
    display:none;
}

.yc-listing-detail-title-buttons,
.yc-buyers-detail-title-buttons
{
	float: right;
}

.yc-card-title.yc-buyer,
.yc-buyers-detail-title-section
{
    background-color: #2d7dd2;
}

.yc-buyers-detail-title-section {
    padding: 10px 0;
}

.yc-buyers-detail-tab {
	width: 260px;
    float: left;
    padding: 10px 30px;
}

.yc-row-tab {
    background-color:  #ffffff;
}

.yc-buyers-detail-tab.yc-tab-active {
	background-color: #f2f2f2;
}

.yc-buyers-detail-tab:hover {
	background-color: #f2f2f2;
}

.yc-row-tab {
	background-color: #ffffff;
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}

.yc-buyers-container {
    padding-top: 30px;
}

.yc-check-boxes {
    padding-top:10px;
}

.yc-filter-section {
    padding: 10px 0;
    border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}

.yc-buyers-section {
    border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}

.yc-buyers-section-bottom {
    border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.kn-records-nav {
	margin-bottom: 0px !important;
}

.yc-number-of-staterooms,
.yc-estimated-cruising-speed, 
.yc-data-number-of-staterooms,
.yc-data-estimated-cruising-speed {
    text-align:center;
}

.yc-card-title-area-right {
	float: right;
	font-size: .9em;
	color: #ffffff;
}

.yc-card-title-area-left {
	float: left;
	padding-left: 22px;
}

.yc-card-title.yc-buyer {
	height: 50px;
}

.yc-card-title .kn-link-page {
	color: #ffffff !important;
	font-size: .7em;
	padding-right: 20px;
}

.yc-card-title .delete.kn-link-delete {
	color: #ffffff !important;
	font-size: .7em;
	padding-right: 20px;
}

.yc-card-title .yc-card-title-area-right .fa {
	padding: 0px;
    font-size: 1em;
}

.yc-listing-title-area-right {
	float: right;
	padding: 10px 10px 10px 20px;
	font-size: 1.1em;
}

.yc-listing-title-area-right .kn-link-page {
	padding-right: 10px;
}