
/* VIEW-CARD.CSS FILE */
@import "_variables";

.kn-rich_text.kn-view.view_68,
.kn-rich_text.kn-view.view_69 {
  padding: 10px !important;
}

.kn-label {
    /*border-bottom: 4px solid #ffffff;*/
}

.kn-details-group.column-3 .kn-details-group-column {
    float: left;
    width: 33.3% !important;
}

.yc-list-header {
    /*background-color: #ffffff;*/
}

.kn-details table,
.kn-list table,
.kn-map-list table {
    border-collapse: collapse;
    border-spacing: 2px;
    width: 100%;
}

#view_64 .kn-label,
#view_61 .kn-label,
#view_60 .kn-label {
    width: 150px;
}

#view_64 .kn-details .kn-details-group,
#view_61 .kn-details .kn-details-group,
#view_60 .kn-details .kn-details-group,
.kn-list .kn-details-group {
    overflow: hidden;
}

.yc-list-header .title>span {
    overflow: visible;
    position: absolute;
    width: 300px;
}

.yc-list-header .title {
    padding: 9px 0 0 20px !important;
}

.kn-label-left .title,
.kn-label-right .title {
    height: 26px;
    position: relative;
}

#view_64 .kn-link-page>span,
#view_61 .kn-link-page>span,
#view_60 .kn-link-page>span {
    white-space: nowrap;
}

.kn-details.kn-view.view_35,
.kn-details.kn-view.view_14 {
	border-top: 4px solid $card-top-border;
	border-bottom: 2px solid $card-top-border;
}

.kn-details th {
    background-color: $card-th !important; 
}

/*
#view_35 .kn-details-column.first {
    width: 50% !important;
}
*/

th.kn-label {
    text-align: right !important;
    width: 180px !important;
}

.kn-details th, .kn-list th, .kn-map-list th {
	background-color: $card-th;

}

#view_64,
#view_79,
#view_77,
#view_60,
#view_58 {
    display: none;
}

/*
.cm-filter-section {
  border-bottom: 1px solid #d3d3d3;
  padding: 0 0 18px;
}
*/

.cm-filter-title {
    display: inline-block !important;
    padding: 12px 0 6px 60px !important;
}

#knack-body .kn-view {
    clear: left;
}

.kn-list-item {
    border-bottom: 1px solid $card-border;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    clear: both;
    margin: 20px;
    padding: 0px;
}

.yc-card-title {
    font-size: 1.4rem;
    padding: 20px 0;
    text-align: center;
}

.yc-card-title.yc-buyer,
.yc-card-title.yc-listing
{
    background-color: $card-title-bar;
}


.yc-card-title .fa {
    padding: 0 20px 0 0;
}

.yc-card-listing-highlight-item {
    width: 10%
}

.yc-card-listing-highlight-label {
	padding: 10px;
	font-weight: bold;
}

.yc-card-listing-highlight-item {
	float: left;
}

.yc-card-listing-highlight-value {
	padding: 0 10px 10px 10px;
}

.yc-card-note {
	padding: 10px 20px;
	background-color: $card-note-section;
	display: inline-block;
	width: -moz-available;
}

.kn-input-section_break {
	padding-top: 10px;
	margin-bottom: 6px;
	min-height: 20px;
}

.kn-details-link .kn-value {
    padding: 10px 0 !important;
}

.kn-table tbody td {
    padding: 30px 9px;
}

.yc-sort-cards {
    float: right;
}

.yc-sort-cards select {
    background-color: $card-sort-select-bg;
    border: 1px solid $card-sort-select-border;
    color: $card-sort-select-color;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 2px;
    vertical-align: top;
}

.yc-sort-cards > span {
  padding: 10px 0 0;
}