/* A-TOP.SCSS */

/* theme
http://www.lavishbootstrap.com/?utf8=%E2%9C%93&image_url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F822111%2Fimages%2Fo-CITY-SKYLINES-facebook.jpg&commit=Go+Lavish
*/

/* Primary Colors */

#knack-body {
  display: none;
}
/* THEME.CSS FILE */

/* theme
http://www.lavishbootstrap.com/?utf8=%E2%9C%93&image_url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F822111%2Fimages%2Fo-CITY-SKYLINES-facebook.jpg&commit=Go+Lavish
*/

/* Primary Colors */

/* Body */

BODY {
  background-color: #D3DAE1 !important;
}

/* button */

button {
  color: #ffffff;
}

button {
  padding: .4em 1.2em;
  line-height: 1.8em;
}

button:hover {
  border: 1px solid #2f4057 !important;
  background-color: #3c526e !important;
  color: #ffffff !important;
}

button {
  border: 1px solid #455e7f !important;
  padding: .3em 1em;
  margin: 0;
  display: inline-block;
  float: none;
  font-size: 1em;
  text-decoration: none;
  background-color: #4E6A8F !important;
  border-radius: 3px;
  cursor: pointer;
}

.kn-content .kn-button-menu a {
  color: #ffffff !important;
}

.kn-button-menu a:visited,
.kn-content .kn-button-menu a:link,
a.kn-button {
  border: 1px solid #455e7f !important;
  background-color: #4E6A8F !important;
  color: #ffffff !important;
}

.kn-button-menu a:hover,
.kn-content .kn-button-menu a:hover,
a.kn-button:hover:not(.save) {
  border: 1px solid #2f4057 !important;
  background-color: #3c526e !important;
  color: #ffffff !important;
}

.kn-view input[type="submit"]:hover {
  border: 1px solid #2f4057 !important;
  background-color: #3c526e !important;
  color: #ffffff !important;
}

.kn-view input[type="submit"] {
  border: 1px solid #455e7f !important;
  background-color: #4E6A8F !important;
  color: #ffffff !important;
}
/* FORM-EDIT-ADD.CSS FILE */

/* theme
http://www.lavishbootstrap.com/?utf8=%E2%9C%93&image_url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F822111%2Fimages%2Fo-CITY-SKYLINES-facebook.jpg&commit=Go+Lavish
*/

/* Primary Colors */

.cm-check-boxes label {
  display: inline-block;
  padding: 10px;
  white-space: nowrap;
}

.cm-check-boxes input {
  vertical-align: middle;
}

.cm-check-boxes label span {
  vertical-align: middle;
}

.cm-check-boxes .cm-filter-highlight {
  background-color: lightgray;
}

.cm-check-boxes label span {
  vertical-align: middle;
}

input[type=text],
textarea {
  border: 2px solid #dadada;
  border-radius: 7px;
}

input[type=text]:focus,
textarea:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 10px #66afe9;
}
/* HOME.CSS FILE */

/* theme
http://www.lavishbootstrap.com/?utf8=%E2%9C%93&image_url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F822111%2Fimages%2Fo-CITY-SKYLINES-facebook.jpg&commit=Go+Lavish
*/

/* Primary Colors */

.yc-home-view-links {
  clear: both;
  padding: 40px;
  text-align: center;
}

.yc-home-add-links {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.kn-link.kn-link-1.yc-add-new-buyer,
.kn-link.kn-link-2.yc-add-new-listing {
  padding: 0 50px !important;
}

.kn-link.kn-link-1.yc-view-buyers,
.kn-link.kn-link-2.yc-view-listings {
  display: inline-block;
  font-size: .9 rem;
}

.kn-link.kn-link-1.yc-view-buyers {
  padding: 20px 50px;
}

.kn-link.kn-link-2.yc-view-listings {
  padding: 20px 70px;
}

.yc-home-view-links a {
  text-decoration: unset;
}

h1#knack-logo {
  display: inline-block;
  background-color: transparent;
  width: 70%;
}

h1#knack-logo.logo-img {
  padding: 10px 24px !important;
  line-height: 100%;
  margin: 0;
}

#knack-logo img {
  height: 70px;
}

.kn-current_user {
  display: inline-block;
  float: right;
  text-align: center;
  padding: 20px 40px 0 0;
}

.knaccount_settings {
  display: block;
}

.kn-view.kn-info.clearfix {
  display: none;
}

#view_73 {
  padding-top: 150px !important;
}

#knack-body .kn-view.kn-info {
  margin: 0px !important;
}

#knack-body .kn-view {
  padding: 10px 24px;
  clear: left;
}
/* LOGIN.CSS FILE */

/* theme
http://www.lavishbootstrap.com/?utf8=%E2%9C%93&image_url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F822111%2Fimages%2Fo-CITY-SKYLINES-facebook.jpg&commit=Go+Lavish
*/

/* Primary Colors */

.view_71,
.kn-register.kn-form.kn-view {
  padding-left: 130px !important;
}

.kn-list-nodata {
  background-color: lightgray;
  padding: 30px;
  margin: 30px;
  font-size: 1.1rem;
}

.item-link-listing {
  display: relative;
  float: left;
  padding-right: 20px;
}
/* TOP_NAV.CSS FILE */

/* theme
http://www.lavishbootstrap.com/?utf8=%E2%9C%93&image_url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F822111%2Fimages%2Fo-CITY-SKYLINES-facebook.jpg&commit=Go+Lavish
*/

/* Primary Colors */

#kn-app-menu ul {
  background-color: #203144 !important;
  border-color: #15212d !important;
}

.kn-content #kn-app-menu a {
  color: #ffffff !important;
}

#kn-app-menu {
  width: 296px;
  display: block;
  padding-left: 24px;
}

.kn-content #kn-app-menu .active a,
.kn-content #kn-app-menu a:hover {
  background-color: #101821 !important;
}
/* VIEW-CARD.CSS FILE */

/* theme
http://www.lavishbootstrap.com/?utf8=%E2%9C%93&image_url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F822111%2Fimages%2Fo-CITY-SKYLINES-facebook.jpg&commit=Go+Lavish
*/

/* Primary Colors */

.kn-rich_text.kn-view.view_68,
.kn-rich_text.kn-view.view_69 {
  padding: 0px !important;
}

.kn-label {
  /*border-bottom: 4px solid #ffffff;*/
}

.kn-details-group.column-3 .kn-details-group-column {
  float: left;
  width: 33.3% !important;
}

.yc-list-header {
  /*background-color: #ffffff;*/
}

.kn-details table,
.kn-list table,
.kn-map-list table {
  border-collapse: collapse;
  border-spacing: 2px;
  width: 100%;
}

#view_64 .kn-label,
#view_61 .kn-label,
#view_60 .kn-label {
  width: 150px;
}

#view_64 .kn-details .kn-details-group,
#view_61 .kn-details .kn-details-group,
#view_60 .kn-details .kn-details-group,
.kn-list .kn-details-group {
  overflow: hidden;
}

.yc-list-header .title > span {
  overflow: visible;
  position: absolute;
  width: 300px;
}

.yc-list-header .title {
  padding: 9px 0 0 20px !important;
}

.kn-label-left .title,
.kn-label-right .title {
  height: 26px;
  position: relative;
}

#view_64 .kn-link-page > span,
#view_61 .kn-link-page > span,
#view_60 .kn-link-page > span {
  white-space: nowrap;
}

.kn-details.kn-view.view_35,
.kn-details.kn-view.view_14 {
  border-top: 4px solid lightgray;
  border-bottom: 2px solid lightgray;
}

.kn-details th {
  background-color: transparent !important;
}

/*
#view_35 .kn-details-column.first {
    width: 50% !important;
}
*/

th.kn-label {
  text-align: right !important;
  width: 180px !important;
}

.kn-details th,
.kn-list th,
.kn-map-list th {
  background-color: transparent;
}

#view_64,
#view_79,
#view_77,
#view_60,
#view_58 {
  display: none;
}

/*
.cm-filter-section {
  border-bottom: 1px solid #d3d3d3;
  padding: 0 0 18px;
}
*/

.cm-filter-title {
  display: inline-block !important;
  padding: 12px 0 6px 60px !important;
}

.kn-list-item {
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  clear: both;
  margin: 20px;
  padding: 0px;
  background-color: #ffffff;
}

.yc-card-title {
  font-size: 1.4rem;
  padding: 20px 0;
  text-align: center;
  color: #5A5D64;
}

.yc-card-title.yc-buyer,
.yc-card-title.yc-listing {
  background-color: #9FB2C4;
}

.yc-card-title .fa {
  padding: 0 20px 0 0;
}

.yc-card-listing-highlight-item {
  width: auto;
  float: left;
  padding: 0px 9px;
}

.yc-card-listing-highlight-label {
  padding: 10px;
  font-weight: bold;
}

.yc-card-listing-highlight-value {
  padding: 0 10px 10px 10px;
}

.yc-card-note {
  padding: 10px 20px;
  background-color: #d9edf7;
  display: inline-block;
  width: -moz-available;
}

.kn-input-section_break {
  padding-top: 10px;
  margin-bottom: 6px;
  min-height: 20px;
}

.kn-details-link .kn-value {
  padding: 10px 0 !important;
}

.kn-table tbody td {
  padding: 30px 9px;
}

.yc-sort-cards {
  float: right;
}

.yc-sort-cards select {
  background-color: #f0f0f0;
  border: 1px solid #dddddd;
  color: #666666;
  height: 30px;
  margin: 0 0 0 15px;
  padding: 2px;
  vertical-align: top;
}

.yc-sort-cards > span {
  padding: 10px 0 0;
}

.kn-details-link .kn-value {
  float: right;
}

.yc-card-listing-highlight-item.yc-card-first-col {
  width: 220px;
}

.yc-card-listing-highlight-item.yc-card-note-col {
  width: 670px;
}

.yc-edit-item,
.yc-delete-item {
  padding: 10px 40px;
}
/* VIEW-TABLE.CSS FILE */

/* theme
http://www.lavishbootstrap.com/?utf8=%E2%9C%93&image_url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F822111%2Fimages%2Fo-CITY-SKYLINES-facebook.jpg&commit=Go+Lavish
*/

/* Primary Colors */

/*.kn-details.kn-view.view_14,
.kn-details.kn-view.view_35,*/

.kn-table.kn-view.view_12,
.kn-table.kn-view.view_33 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.kn-table.kn-view.view_12,
.kn-table.kn-view.view_33 {
  padding-bottom: 60px !important;
}

/*
.kn-rich_text.kn-view.view_49,
.kn-rich_text.kn-view.view_54,
.kn-menu.kn-view.view_42,
.kn-menu.kn-view.view_32 {
    background-color: #d3d3d3;
}
*/

.kn-view {
  margin: 0;
  padding: 2px 0;
}

.kn-menu.kn-view.view_42,
.kn-menu.kn-view.view_32 {
  padding-top: 1px !important;
}

.kn-rich_text.kn-view.view_49,
.kn-rich_text.kn-view.view_54 {
  padding-bottom: 1px !important;
}

.yc-row-content td {
  padding: 16px 10px;
}

tr.yc-row-spacer {
  display: block;
  background-color: transparent !important;
  min-height: 20px;
}

tr.yc-row-content {
  background-color: #fbfbfb;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.5);
}

.kn-table table {
  border: 1px solid transparent;
  border-collapse: collapse;
  width: 100%;
}

#view_49 h1,
#view_54 h1 {
  display: inline-block;
  padding: 0 0 20px 0;
}

.yc-add-new-buyer-button,
.yc-add-new-listing-button {
  display: inline-block;
  position: relative;
  top: 10px;
}
/* Z-END.CSS FILE */

/* theme
http://www.lavishbootstrap.com/?utf8=%E2%9C%93&image_url=http%3A%2F%2Fi.huffpost.com%2Fgen%2F822111%2Fimages%2Fo-CITY-SKYLINES-facebook.jpg&commit=Go+Lavish
*/

/* Primary Colors */

/* Last */

#knack-body {
  display: unset;
}